NAME:.metadata.name,SERVICE-MESH:.metadata.annotations.linkerd\.io/inject,PROXY-READINESS:.status.containerStatuses[?(@.name=="linkerd-proxy")].ready,CONTAINER-ID:.status.containerStatuses[?(@.name=="linkerd-proxy")].containerID,SERVICE-ACCT:.spec.serviceAccountName