NAMESPACE:.metadata.namespace,NAME:.metadata.name,SCALEOPSED:.metadata.annotations.scaleops\.sh/admission,SCALEOPS-POLICY:.metadata.annotations.scaleops\.sh/applied-policy,SCALEOPS-RESOURCES:.metadata.annotations.scaleops\.sh/last-applied-resources